@CHARSET "UTF-8";


.footer-flex {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-item-flex {
    flex: 0 1 auto;
}

.navbar .navbar-brand {
    color: #8A5004;
    font-weight: strong;
    font-size: 32px;
    font-family: 'Tangerine', cursive;
    text-shadow: 1px 1px rgba(255,255,255,0.8);
    border-style: double;
    border-width: 7px;
    border-radius: 5px;
}


.bg-dark {
    background-color: #EBD1A7!important;
    background: linear-gradient(#BF8C45,#EBD1A7);
} 


.carousel {
    font-style: italic;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: strong;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: #FAF6EB;
}

/* Links */
a:hover {
    color: red;
}

a:visited {
    color: green;
}

[title~=Akimbo] {
    border: 3px solid #8A5004;
}
